body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header,
section,
h1,
h2,
h3,
blockquote,
ul,
li {
  margin: 0;
  padding-top: 10px;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

img {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 10px;
}

@media (max-width: 600px) {
  img {
    float: none;
    margin-right: 0;
    text-align: center;
  }
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  color: #353535;
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  color: #777;
  border-left: 4px solid #e74c3c;
  padding-left: 15px;
  margin: 0;
  text-align: left;
}

.title {
  font-size: 33px;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-text {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.animated-text:nth-child(odd) {
  animation-name: slideInLeft;
}

.animated-text:nth-child(even) {
  animation-name: slideInRight;
}

.highlight-block {
  background-color: #ecf0f1;
  padding: 5px;
  margin-bottom: 20px;
}

section {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 15px;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #3498db;
  border-radius: 5px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  transform: scale(1.1);
}

.important-text {
  font-weight: bold;
  color: #3498db;
}

.door {
  margin-bottom: 20px;
}

.door h4 {
  color: #e74c3c;
}

.comfort-door {
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.money-door {
  background-color: rgba(46, 204, 112, 0.302);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.enticing-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 20px;
  background-color: #3a8ec7;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.enticing-text:hover {
  background-color: #1d77b4;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.review {
  background-color: #fff;
  border-radius: 8px;
  border: solid 1px #3fa5a0;
  box-shadow: 0 4px 6px rgb(0 0 0 / 24%);
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
}

.review-text {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  text-align: left;
  margin-bottom: 15px;
}

.review-author {
  font-weight: bold;
  text-align: left;
  color: #3498db;
}

.about-author {
  text-align: left;
}
@media (max-width: 600px) {
  .about-author {
    text-align: center;
  }
}

.author {
  text-shadow: 1px 1px white, 2px 2px #777;
  color: #333;
  transition: all 1s;
}

.participation-options button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}

.participation-options button:hover {
  background-color: #45a049;
}
